@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(68, 64, 83);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
}

img {
  height: 100px;
  width: 100px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.category-button {
  width: 80%;
  margin-inline: auto;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 50px;
  /*   background: linear-gradient(45deg, #ff6b6b, #f06595); */
  background: rgba(112, 172, 135, 0.911);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-button:hover {
  background: rgba(112, 172, 135, 0.911);
  transform: translateY(-4px);
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  mix-blend-mode: multiply;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.title-fade-in {
  animation: fadeIn 300ms ease-in-out forwards;
}

.description-text {
  background-color: #6b7a311e;
}

.user-review-wrapper {
  background-color: #6b7a311e;
}
